/* Info Section Styles */
.main-content {
    display: flex;
    justify-content: space-between;
}

.info-section {
    max-width: 465px;
}

p.info-text {
    font-weight: var(--font-weight-regular);
    font-size: 1.25rem;
    font-style: italic;
    color: var(--secondary-color);
    margin-top: 48px;
}

.intro-text {
    font-weight: var(--font-weight-light);
}

/* Options Container Styles */
.options-container {
    width: 564px;
}

