/* Global CSS-Variables and Styles */
:root {
  --primary-font: Rubik, system-ui, sans-serif;
  --line-height: 1.5;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --accent-color: hsl(277,91%,56%);
  --success-color: hsl(151,70%,50%);
  --error-color: hsl(0,82%,63%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Theme Styles */
.dark {
  --bg-primary: hsl(216,25%,25%);
  --bg-secondary: hsl(215,27%,32%);
  --bg-accent: hsl(214, 24%, 23%);
  --primary-color: hsl(0,0%,100%);
  --secondary-color: hsl(216,47%,78%);
}

.light {
  --bg-primary: hsl(220,38%,97%);
  --bg-secondary: hsl(0,0%,100%);
  --bg-accent: hsl(220, 50%, 95%);
  --primary-color: hsl(216,25%,25%);
  --secondary-color: hsl(219,13%,44%);
  --drop-shadow-color: hsla(220, 29%, 66%, 14%);
}

/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: var(--font-weight-medium);
}

html {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height);
  color: var(--primary-color);
  background-color: var(--bg-primary);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

html.dark {
  background-image: url("assets/pattern-background-desktop-dark.svg");
}

html.light {
  background-image: url("assets/pattern-background-desktop-light.svg");
}

html,
body {
  height: 100%
}

/* Typography Styles */
body {
  font-size: 0.75rem;
}

h1 {
  font-size: 4rem;
  line-height: 1em;
}

h2 {
  font-size: 2.25rem;
}
